@{
  Layout = "_Layout";
}

<form action="/records" method="post">
  <p>Add a new record</p>
  <label for="title">Title:</label>
  <input id="title" name="title" type="text">
  <button type="submit">Submit</button>
</form>