@{
  Layout = "_Layout";
}

<p>Add a new record by @Model.Artist</p>

<form action="/artists/@Model.Id/records" method="post">
  <input id="artistId" name="artistId" type="hidden" value="@Model.Id">
  <label for="title">Record Title:</label>
  <input id="title" name="title" type="text">
  <button type="submit">Submit</button>
</form>